extends layout.pug

block breadcrumb
  +breadcrumb("Home","/")
  +breadcrumb("Todos", "/todos")
  +breadcrumb("Todo "+todo.id)

block content
  .panel(class="panel-primary")
    .panel-heading
      h2= heading
    .panel-body
      include includes/todo-form.pug
      +todo-form(todo.id, todo.text, todo.done)
      .text-right
        form(action="/todos/"+todo.id+"/delete" method="post")
          a.btn(class="btn-warning" href="/todos") Cancel
          |
          |
          button.btn(class="btn-danger" type="submit") Delete
    
