extends layout.pug

block breadcrumb
  +breadcrumb("Home")

block content
  div(class='jumbotron')
    h1= heading
    p
      | Click 
      a(class="btn btn-primary" href="/todos") Todos
      |
      | to see all todos!
      
  
