doctype html

mixin breadcrumb(name, link)
  li.breadcrumb-item(class=link ? "" : "active")
    if link
      a(href=link)= name
    else
      span= name

html
  head
    title= title
    block script
      script(type='text/javascript', src='/js/bootstrap.min.js')
      script(type='text/javascript', src='/jquery.min.jsn')
    block style
      link(rel='stylesheet',href='/css/bootstrap.min.css')
      link(rel='stylesheet',href='/css/styles.css')
    if process.env.DEBUG_LIVE_RELOAD
      script(type='text/javascript', src="http://localhost:35729/livereload.js?snipver=1")
      
  body
    div(class="footer navbar navbar-default navbar-fixed-top")
      .container
    
    .container
      div#breadcrumb
        ol.breadcrumb
          block breadcrumb
            +breadcrumb("Home", "/")
      block content
      div(id="footer", class="navbar navbar-default navbar-fixed-bottom")
        .container 
          block footer
            p Here is a cool footer missing
