extends layout.pug

block breadcrumb
  +breadcrumb("Home","/")
  +breadcrumb("Todos")

block content
  div(class='well')
    h2 Todos
    ul(class='list-group')
      each todo in todos
        a.list-group-item(href="/todos/"+todo.id)
          span.badge= todo.id
          case todo.done
            when true
              span(class="glyphicon glyphicon-check")
            default
              span(class="glyphicon glyphicon-unchecked")
          |
          |
          span= todo.text
