extends layout.pug

block breadcrumb
  +breadcrumb("Home","/")
  +breadcrumb("Todos")

block content
  div(class='well')
    h2 Todos
    ul(class='')
      each todo in todos
        li
          span(class='label label-default')= todo.id
          |
          | 
          span= todo.text
