extends layout.pug

block breadcrumb
  +breadcrumb("Home","/")
  +breadcrumb("Todos", "/todos")
  +breadcrumb("Todo "+todo.id)

block content
  div(class='well')
    h2= heading
    form
      .form-group
        label(for="text") Text:
        textarea.form-control(name=todo[text], placeholder="Text of the todo")= todo.text
      .checkbox
        label
          input(type="checkbox", checked=todo.done)
          | Done
          
      
    
